* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/alt.xsl -text
/apertium-en-ca.ca-en-poly.dix -text
/apertium-en-ca.ca-en.t1x -text
/apertium-en-ca.ca-en.t2x -text
/apertium-en-ca.ca-en.t3x -text
/apertium-en-ca.ca.acx -text
/apertium-en-ca.ca.dix -text
/apertium-en-ca.ca.tsx -text
/apertium-en-ca.en-ca-poly.dix -text
/apertium-en-ca.en-ca.dix -text
/apertium-en-ca.en-ca.genitive.t1x -text
/apertium-en-ca.en-ca.t1x -text
/apertium-en-ca.en-ca.t2x -text
/apertium-en-ca.en-ca.t3x -text
/apertium-en-ca.en.acx -text
/apertium-en-ca.en.metadix -text
/apertium-en-ca.en.tsx -text
/apertium-en-ca.post-ca.dix -text
/apertium-en-ca.post-en.dix -text
/autogen.sh -text
/buscaPar.xsl -text
/ca-en-latin1.prob -text svneol=unset#unset
/ca-en-supervised.make -text
/ca-en-unsupervised.make -text
/ca-en.lextor -text
/ca-en.prob -text svneol=unset#unset
ca-tagger-data/README -text
/configure.ac -text
dev/html-texts/README -text
dev/html-texts/file1.html -text
dev/html-texts/file2.html -text
dev/html-texts/file3.html -text
dev/html-texts/file4.html -text
dev/html-texts/file5.html -text
dev/odt-tests/README -text
dev/odt-tests/file1.odt -text
dev/odt-tests/file2.odt -text
/empty.t1x -text
/en-ca-latin1.prob -text
/en-ca-supervised.make -text
/en-ca-unsupervised.make -text
/en-ca.lextor -text
/en-ca.prob -text
en-tagger-data/README -text
/filter.sh -text
/filter.xsl -text
/filterbil.xsl -text
lextor-data/README -text
/lextor.make -text
/metadix.dtd -text
/modes.xml -text
/principal.xsl -text
/testvoc-en-ca -text
/translate-to-default-equivalent.xsl -text
